.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: white;
    color: black;
    height: 80vh;
    padding: 5rem 3rem ;
}
.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-principal;
    & h3{
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 2.5rem;
    }
    & p {
        display: inline;
    }
}
.about-desc-imgDeco{
    display: none;
}
@media only screen and (min-width:700px) {
    .about-container{
        min-height: calc(100vh - 100px);
        margin: 0;
        justify-content: space-evenly;
    }

}
@media only screen and (min-width:960px) {
    .about-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-desc {
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
        & h3{
            font-size: 3.5rem;
        }
        & p{
            font-size: 1.5rem;
        }
    }
    .about-img{
        width: 100%;
        margin-bottom: 50px;
        & img{
            width: 50%;
        }
    }
}
@media only screen and (min-width:1400px) {
    .about-container{
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 8rem;
    height: auto;
}
    .about-desc {
        width: 60%;
        padding: 0;
        & p{
            font-size: 1.5rem;
            width: 100%;
        }
    }
    .about-desc-container{
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .imageAbout-container{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-desc-imgDeco{
        width: 250px;
        filter: $color-princial-filter-image;
        display: block;
    }
}