.projects-container{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    background-color: $color-secundario;
    height: 700px;
    padding: 3rem 3rem 1rem 3rem;
    position: relative;
}

.projects-title{
    color: $color-principal;
    width: 100%;
    margin-bottom: 2rem;
    & h2{
        font-weight: bolder;
        font-size: 2.5rem;
        text-align: start;
    }
}
.cardProjects-container{
    position: absolute;
    width: auto;
    top: 25%;
    left: 35%;
}
.imageZoom-container{
    width: 100%;
    height: 100%;
    & img{
        width: 100%;
        height: 100%;
    }
}
.btn-closeZoomImage{
    position: absolute;
    background-color: $color-secundario;
    color: $color-principal;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    width: 2rem;
    top: 8%;
    right:  50px;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}
.slider-single{
    width: auto !important;
}

.slider-right,.slider-left{
    font-size: 1.5rem;
    & i{
        color: $color-principal ;
        &:hover{
            transform: scale(1.2);
        }
    }
}
@media only screen and (min-width:700px) {
.projects-container{
    height: 100vh;
    overflow: scroll;
}
.cardProjects-container{
    top: 25%;
}
.slider-right{
    margin-left: 1.5rem !important;
}
.slider-left{
    margin-right: 2.5rem !important;
}
.slider-right,.slider-left{
    font-size: 2.5rem;
}
}
@media only screen and (min-width:960px) {
    .projects-title{
        & h2{
            font-size: 3.5rem;
        }
    }
    .projects-container{
    padding: 5rem 1.5rem 1rem 1.5rem;
}
.slider-right,.slider-left{
    font-size: 3rem;
}
}
@media only screen and (min-width:1400px) {
    .projects-container{
    padding: 5rem 8rem 1rem 8rem;
}
.cardProjects-container{
    top: 22%;
}
}