.nadbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    min-width: 100vw;
    max-width: 100vw;
    height: 60px;
    padding: 1rem 1rem 1rem 2rem;
    z-index: 2;
    background-color:$color-principal;
}
.nadbar-logoContainer{
    display: flex;
    max-height: 100px;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.nadbar-logo, .nadbar-menuIcon {
    color: $color-secundario;
    font-size: 2rem;
    margin: 0;
}
.list-container{
    position: absolute;
    padding: 0;
    top: 70px;
    right: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color:rgba(0, 0, 0, 0.87);
    width: calc(100vw - 20px);
    height: 40vh;
    border-radius: 0 0 0 20px;
    margin: 0;
    justify-content: center;
    & li{
        list-style: none;
        color: $color-secundario;
        cursor: pointer;
        border-bottom: 4px solid transparent;
        &:hover{
            border-color: $color-secundario;
            transition: all 0.3s ease-out;
        }
    }
}
.black-backGround{
    background-color:#4731d4cb !important;
}
.showList{
    display: flex;
}

@media (min-width:"780px"){
    .nadbar{
        height: 100px;
    }
    .nadbar-logo{
        font-size: 3rem;
    }
    .completeName-container {
	margin: auto;
	display: table;
}
.list-container{
    background-color: inherit;
    & li:nth-child(2),& li:nth-child(3){
        color: $color-principal;  
        &:hover{
            border-color: $color-principal;
        }
    }
}
.nadbar-completeName{
    position: relative;
    margin: 0;
    float: left;
    background: $color-principal;
    color: $color-secundario;
    font-size: 1.3rem;
    & span{
        position:absolute;
        right:0;
        width:0;
        background: $color-principal;
        border-left: 1px solid $color-secundario;
        animation: escribir 3s steps(30) infinite alternate;
        animation-timing-function: ease-in-out;
    }
}
.nadbar-navegationContainer{
    max-width: 65%;
    display: flex;
    justify-content: end;
}
.list-container{
    position: relative;
    top: 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: end;
}
    .nadbar-menuIcon{
        display: none;
    }
}
@media (min-width:"1000px"){
    .list-container{
        & li:first-child{
            color: $color-principal;
            &:hover{
                border-color: $color-principal;
            }  
        }
    }
}
@media (min-width:"1130px"){
    .list-container{
        & li:nth-child(1){
            color: $color-principal;
                &:hover{
                    border-color: $color-principal;
                }  
            }
        }
    }
    @media (min-width:"1200px"){
        .list-container{
            gap: 3rem;
        }
}
@media (min-width:"1700px"){
    .list-container{
        & li:first-child{
            color: $color-principal;
            &:hover{
                border-color: $color-principal;
            }  
        }
    }
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

