.banner{
    width: 100%;
    height: 90vh;
}
*{
    font-family: 'Roboto', sans-serif;
}
.img-contenido{
    width: 100%;
    height: 60vh;
}
.encabezado{
    position: sticky;
    top: 0;
    z-index: 100;
}
.encabezado li:hover{
    transform: scale(1.08);
}
.certificado{
    width: 70%;
    height: 70%;
}
a{
    text-decoration: none;
}
.logo-ws{
    width:2rem;
}
.btn-contacto{
    width: 200px;
}
.btn-contacto:hover{
    transform: scale(1.05);
}
@media (max-width: 984px){
.contenedor-btn{
    flex-direction: column;
    align-items: center;
}
.banner{
    height: 60vh;
}
}
@media (max-width: 780px){
.banner{
    height: 60vh;
}
    }
@media (max-width: 750px){
.p-home{
    font-size:1rem !important;
    margin: 1rem .5rem .5rem .5rem !important;
    padding: .5rem;
}
@media (max-width: 420px){
    .p-home{
        margin: .5rem .2rem .5rem .3rem !important;
        padding: 1.4rem !important;
        font-size: .8rem !important;
    }
    .img-contenido{
        height: 40vh;
    }
    .h1-home{
        padding: 0 !important;
    }
    .banner{
        height: 40vh;
    }
    }
}
.accordion-button:hover{
    transform: scale(1.1);
    background-color: #0275d8;
    color: white;
}
.menu-desplegable{
    bottom: 100% !important;
    width: auto!important;
}
.nombre-encabezado{
font-size: .9rem!important;
}
